<!--  -->
<h1>
    <%= title %>
</h1>

<%- messages() %>
    <% if (errors) { %>
        <ul class="notice">
            <% errors.array().forEach(error=> { %>
                <li>
                    <%= error.msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>

            <!-- Account Management Display -->
            <h2>Welcome <%= locals.accountData.account_firstname %>
            </h2>
            <p>You're logged in.</p>