<% const d=new Date(); let year=d.getFullYear(); %>
    <footer>
        <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
        <a href="../../inv/throwerror/" title="Server Error">Error Link</a>
    </footer>