<header id="top-header">
    <span>
        <a href="/" title="Return to home page" class="header siteName">CSE Motors</a>
    </span>
    <div id="tools">
        <% if(locals.loggedin) { %>
            <a href="/account"><b>Welcome, <%= locals.accountData.account_firstname %></b></a>
            <br>
            <a href="/account/logout">Log Out</a>
            <% } else { %>
                <a title="Click to log in" href="/account/login">My Account</a>
                <% } %>
                    <!-- account login path is going to the view -->
    </div>
</header>