<header id="top-header">
    <span>
        <a href="/" title="Return to home page" class="header siteName">CSE Motors</a>
    </span>
    <div id="tools">
        <a title="Click to log in" href="/account/login" class="tools my-account">My Account</a>
    </div>
</header>