<nav>
    <ul class="list-ul navigation">
        <li><a href="#" class="nav-li">Home</a></li>
        <li><a href="#" class="nav-li">Custom</a></li>
        <li><a href="#" class="nav-li">Sedan</a></li>
        <li><a href="#" class="nav-li">SUV</a></li>
        <li><a href="#" class="nav-li">Truck</a></li>
    </ul>
</nav>