<section class="section-container">
    <h1 class="header__welcome"> Welcome to CSE Motors! </h1>

    <%- messages() %>

        <div class="hero__description_box">
            <h2 id="dmc-delorean">DMC Delorean</h2>
            <ul class="list-ul">
                <li>3 Cup holders</li>
                <li>Superman doors</li>
                <li>Fuzzy dice!</li>
            </ul>
            <button class="button">Own Today</button>
        </div>
        <div><img src="/images/vehicles/delorean.jpg" alt=""></div>
</section>

<div class="side-by-side">

    <section class="section-container upgrades">
        <h1 class="header"> Delorean Upgrades </h1>
        <ul class="list-ul">
            <li>
                <div class="image-upgrades">
                    <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                    <div class="upgrade-text">
                        <a href="/" class="tools">Flux Capacitor</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="image-upgrades">
                    <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                    <div class="upgrade-text">
                        <a href="/" class="tools">Flame Decals</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="image-upgrades">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                    <div class="upgrade-text">
                        <a href="/" class="tools">Bumper Stickers</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="image-upgrades">
                    <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
                    <div class="upgrade-text">
                        <a href="/" class="tools">Hub Caps</a>
                    </div>
                </div>
            </li>
        </ul>
    </section>

    <section class="section-container reviews">
        <h1 class="header"> DMC Delorean Reviews </h1>
        <ul class="list-ul">
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80s livin and I love it!" (5/5)</li>
        </ul>
    </section>


</div>