/******* Root and Fonts ***************/
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
  --drk-gray: #272727;
  --white: #ffffff;
  --blue: #33a6c8;
  --blue-hover: #2a89a5;
}

/******* Change Box Model ***************/
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/******* ALL ***************/
body{
  border: 5px solid #2a89a5;
  margin: 5px;
  padding: 5px;
}

.header {
  font-family: 'Catamaran', sans-serif;
  color: var(--drk-gray);
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 18px;
}

.list-ul {
  font-family: 'Open Sans', sans-serif;
  list-style-type: none;
}

.section-container {
  padding: 10px;
  margin-top: 10px;
}

.tools:hover {
  color: var(--blue);
}

.button {
  height: auto;
  width: auto;
  padding: 8px;
  text-align: center;
  font-family: 'Catamaran', sans-serif;
  background-color: var(--blue);
  border: 2px solid var(--blue);
  border-radius: 8px;
  color: black;
  font-weight: 700;
}

.button:hover {
  cursor: pointer;
  color: var(--white);
  background-color: var(--blue-hover);
  border: 2px solid var(--blue-hover);
}

body {
  margin-left: 10%;
  margin-right: 10%;
}

img {
  height: auto;
  max-width: 100%;
}

/******* Header ***************/
#top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 12vh;
  margin-top: 2%;
}

.siteName {
  font-size: 28px;
}

.my-account {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.siteName,
.tools {
  text-decoration: none;
  color: var(--drk-gray);
}


/******* Navigation ***************/
nav {
  background-color: var(--drk-gray);
  /*
  color: var(--white);
  text-decoration: none;
  list-style: none;
  font-size: 16px;
  font-weight: 800; */
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 15px;
}

nav ul li a {
  text-decoration: none;
  color: var(--white);
}

nav ul li {
  list-style: none;
  font-size: 16px;
  font-weight: 800; 
}

nav ul li a:hover{
  color: var(--blue);
}

/******* Main ***************/
.header__welcome {
  font-size: 20px;
  font-family: 'Catamaran', sans-serif;
  color: var(--drk-gray);
  margin-bottom: 10px;
  font-weight: 800;
}

.hero__description_box {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  color: navy;
  width: 50%;
  padding: 1%;
  margin-top: 2%;
  font-weight: 700;
}

#dmc-delorean {
  font-size: 18px;
  font-family: 'Catamaran', sans-serif;
  margin-bottom: 10px;
  font-weight: 800;
}

/* .header__dmc-delorean {
  color: black;
} */

/* Side by side */
.side-by-side {
  display: flex;
  justify-content: space-between;
}

.upgrades,
.reviews {
  width: 48%; 
}

.section-container {
  box-sizing: border-box;
}

.upgrades {
  width: 100%;
}

.upgrades ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.upgrades li {
  width: 48%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.image-upgrades img {
  border: 6px solid var(--blue); /* Adjust border properties as needed */
}

/******************** inv display ***************************/ 
#inv-display {
  text-align: center;
  margin: auto;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#inv-display li {
  justify-self: center;
  width: 350px;
  border: 3px solid var(--blue-hover);
  list-style: none;
}

.namePrice h2{
  margin: auto;
  padding: 10px;
  font-size: 1.2em;
}

#inv-display li a {
  text-decoration: none;
  color: var(--drk-gray);
}

/************************ detail-grid **************************/


#detail-grid{
  display: flex;
  flex-wrap: wrap;
  text-align:left;
}

#detail-grid table td{
  background-color: rgb(185, 183, 183);
  padding: 3px;
  font-size: larger;
}

#detail-grid table{
  flex: 1 1 250px;
  max-width: 100%;
  margin-top: 0;
}

#detail-grid table tbody tr td:first-child{
  font-weight: 500;
  vertical-align: top;
  background-color: #413f3f;
  color: #ffffff;
}

#detail-grid img{
  flex: 0 0 auto;
  max-width: 100%;
  margin-right: 10px;
}

/*************************** review grid *******************/
.review-grid {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.review-login {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: solid 3px var(--blue);
  justify-content: space-around;
  font-size: large;
}

/********************** class="funny-error-404" **********/

.funny-error-404 {
  text-align: center;
  background-color: rgb(56, 208, 219);
  margin: 10px;
  padding: 10px;
}

/************************** Login **************************/

#loginForm {
  background-color: var(--blue);
  border: solid 2px var(--drk-gray);
  border-radius: 8px;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  padding: .5em;
  font-weight: 700;
  margin: auto;
}

#loginForm input {
  line-height: 2em;
}

#loginForm button {
  color: black;
  margin-top: .5em;
  margin-bottom: .5em;
  max-width: 50%;
  height: 2.5em;
  font-weight: 700;
}

#signup {
  text-align: center;
}

#signup a {
  color: black;
}
/********************** Account Management *******************/ 
.account-welcome {
  margin-top: 20px;
  margin-bottom: 10px;
}
/***************** updateForm **************/
#accountUpdate, #changePassword {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 5px;
  padding: 5px;
  max-width: 600px;
  border: solid 3px var(--blue);
}


 /***** styles for valid form input *****/
input:required:invalid, input:focus:invalid {
  border-bottom: solid 2px red;
 }

 input:required:valid {
  border-bottom: solid 2px green;
 }


/************************** Registration **********************/ 

#registration_form {
  background-color: var(--blue);
  border: solid 2px var(--drk-gray);
  border-radius: 8px;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  padding: .5em;
  font-weight: 600;
  margin: auto;
}

#registration_form input {
  line-height: 2em;
}

#register-btn {
  color: black;
  margin-top: .5em;
  margin-bottom: .5em;
  max-width: 50%;
  height: 2.5em;
  font-weight: 700;
  text-align: center;
}

#showPassword{
  border: 2px solid #000;
  text-align: center;
  border-radius: 5px;
  padding: 2px;
  width: 8em;
  margin-top:.5em ;
  font-size:small ;
}

/************************ Flash messagers *******************/
#messages .notice, .error{
  z-index: 3;
  position: relative;
  margin-bottom: 4em;
}

#messages .notice{
  list-style-type: none;
  color: red;
  font-size: 1.5em;
  text-align: center;
  padding: .5em;
  border: solid 3px red;
  margin: 1em;
}
#messages .error{
  list-style-type: none;
    color: red;
    font-size: 1.5em;
    text-align: center;
    padding: .5em;
    border: solid 3px red;
    margin: auto;
}

/************ Classification & inventory forms *************/

.management-lists li {
  list-style: none;
  border: solid 2px var(--drk-gray);
  padding: 5px;
  margin: auto;
  margin-bottom: 5px;
  width: 200px;
  font-size: large;
  background-color: #44bce0;
}

.management-lists li a {
  text-decoration: none;
  color: #000;
}

.newClassification {
  border: solid 2px var(--drk-gray);
  padding: 7px;
  margin: auto;
  font-size: large;
  max-width: 450px;
}

.btn-submit {
  font-size: medium;
  padding: 3px;
}

.addVehicle {
  border: solid 2px var(--drk-gray);
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: auto;
  max-width: 450px;
}


form label.lbl-properties input {
  --webkit-appearance: none;
  display: block;
  /* font-size: 1rem; */
  border: solid 2px var(--blue);
  border-radius: 4px;
  /* padding: 0.5rem; */
  padding-left: 0.5rem;
  /* color: #555; */
  color: black;
  width: 100%;
  max-width: 20rem;
  height: 44px;
  background-color: rgba(0,0,0,0.1);
  font-size: 17px;
}

form textarea {
  --webkit-appearance: none;
  display: block;
  /* font-size: 1rem; */
  border: solid 2px #4c96d7;
  border-radius: 4px;
  /* padding: 0.5rem; */
  padding-left: 0.5rem;
  /* color: #555; */
  color: black;
  width: 100%;
  max-width: 20rem;
  /* height: 44px; */
  background-color: rgba(0,0,0,0.1);
  font-size: 18px;
}

/************************** manage-Inventory ************/

#manage-Inventory {
  list-style: none;
  border: solid 2px var(--drk-gray);
  padding: 5px;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 600px;
  font-size: large;
  background-color: #44bce0;
}


/************************ updateForm and deleteForm ******************/
#updateForm, #deleteForm {
  display: flex;
  flex-direction: column;
  border: solid 2px var(--drk-gray);
  margin: auto;
  width: 600px;
  padding: 8px;
  margin-top: 5px;
  font-size: large;
}



/******* Footer ***************/
.copyright {
  font-family: 'Open Sans', sans-serif;
}

@media (max-width: 768px) {
  
  .side-by-side {
    display: flex;
    flex-direction: column;
  }
  #inv-display{
    display: flex;
    flex-direction: column;
  }
}