<!-- Content Heading -->
<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <!-- Message Block -->
        <%- messages() %>

            <!-- Vehicle Management Display -->
            <ul class="management-lists">
                <li><a href="/inv/addClassification">Add New Classification</a></li>
                <li><a href="/inv/addVehicle">Add New Vehicle</a></li>
            </ul>