<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <%- message %>

            <p class="funny-error-404">Hey, what did you do?</p>
            <p class="funny-error-404">Don't worry, I'll fix it.... Sometime, hopefully 😢 </p>